extend layouts/main-layout.pug

block styles
    <link rel="stylesheet" href="/Public/css/product.css">
    <link rel="stylesheet" href="/Public/css/main.css">

block content
    main
            if prods.length>0
                .grid
                    each product in prods
                        article.card.product-item
                            header.card__header
                                h1.product_title #{product["added-product"]}
                            div.card_image
                                img(src="https://cdn.pixabay.com/photo/2018/01/17/18/43/book-3088775_1280.jpg", alt="A Book")
                        div.card__content
                        h2.product_price $19.99
                        p.product_description A very interesting book about so many even more interesting thing!
                        div.card_actions
                        button.btn Add to Cart
            else
                h1 No Products

// Path: E-Shop/views/add-product.pug